<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
   
    @*<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" />*@
</head>
<body>

    @if (ViewBag.Submit != true)
    {
        <div class="row">
            <div class="col-5 bg-dark text-left">
                <partial name="_LoginPartial" />
            </div>

            <div class="col-7 bg-dark text-left">
                <h1 class="display-4 font-weight-normal text-white ">
                    LMS 
                </h1>
            </div>
        </div>
    }





    @if (ViewBag.Submit != true)
    {
        @*<header>*@
        @*<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark border-bottom box-shadow mb-3">
                <div class="container">
                    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Contoso University</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                        <ul class="navbar-nav flex-grow-1">
                            <li class="nav-item">
                                <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="About">About</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-light" asp-area="" asp-controller="Students" asp-action="Index">Students</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-light" asp-area="" asp-controller="Courses" asp-action="Index">Courses</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-light" asp-area="" asp-controller="Instructors" asp-action="Index">Instructors</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-light" asp-area="" asp-controller="Departments" asp-action="Index">Departments</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>*@
        @*</header>*@
    }
    
        @RenderBody()
    
    <div class="container">
        <main role="main" class="pb-3">


            @if (ViewBag.Submit == false)
            {
                @*<span>not a submit yet</span>*@

            }



        </main>

    </div>




    @if (ViewBag.Submit != true)
    {


        <footer class=" footer text-muted">
            <div class="container">
                &copy; 2023 - University - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
            </div>
        </footer>
    }
    
    @*<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">*@
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
   
    
    @*<script src="~/lib/jquery/dist/jquery.js"></script>*@ @*används på många ställen t.ex. behövs det av både bootstrap och ajax*@
   
    @*<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>*@
    @*det här flyttas till vyer som använder ajax*@
    <script src="~/lib/jquery-ajax-unobtrusive/dist/jquery.unobtrusive-ajax.js"></script>
     <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
    @*<script src="~/js/site.js" asp-append-version="true"></script>*@
    @await RenderSectionAsync("Scripts", required: false)

</body>
</html>