@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@{ if (ViewBag.emailIsSaved)
    {
        <span>email is saved ok</span>
    }
    else{ <span> this email address allready exist</span>}
}