@model uppgifLoginViewComponent.Models.Assignment
@using uppgifLoginViewComponent.Data
@using uppgifLoginViewComponent.Models.ViewModels
@inject Reader Reader;
@using uppgifLoginViewComponent

<div height="200px">
<h6>Student Assignment</h6> @*assignmenttext*@
@{ foreach (var item in Reader.Read(Model.AssignmentFile).ToString())
    {
        <span>@item.ToString()</span>

        if (item.ToString().Contains('\n'))
        {
            <br />
        };

        if (item.ToString() == " ")
        { <span>&nbsp;</span>}
    }
}
</div>
<div class=" d-flex flex-column justify-content-end align-items-start m-4" style="height:90vw">
    
    <form asp-controller="Home" asp-action="GradeAssignment" method="post"> 
        <div class="input-group d-inline-block">
            <div class="input-group-append float-left">
            <label class="form-label">Grade</label>         
                <select id="gradeAssignment"class="form-select" aria-label="Default select example" name="Grade">
                    <option disabled="disabled">Open this select menu</option>
                    <option value="A,@ViewBag.CourseAssignmentId">A</option>
                    <option value="B,@ViewBag.CourseAssignmentId">B</option>
                    <option value="C,@ViewBag.CourseAssignmentId">C</option>
                </select>
                <input class="form-control" type="submit" title="submit">
            </div>
        </div>
    </form>
    
</div>



